.App {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

select{
  width: 50%;
}
label{
  width: 35%;
}
input{
  width: 50%;
}
.sbmtbtn{
  width: 85%;
  background-color: #23a2e3
}